<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38172759846-9dqj18ie1u2pcu00djddbms6a1ii1o4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38172759846-9dqj18ie1u2pcu00djddbms6a1ii1o4b</string>
	<key>API_KEY</key>
	<string>AIzaSyAh7looBazoU9SzODJbw7C6Pj4Yr6LHnxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>38172759846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetupPlanner</string>
	<key>PROJECT_ID</key>
	<string>meetup-planner-44ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>meetup-planner-44ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38172759846:ios:427767d25749a1f6c993e7</string>
</dict>
</plist>